[Desktop Entry]
Exec=kcmshell5 kcm_kup
Icon=kup
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_kup
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=personalization

Name=Backups
Name[ca]=Còpies de seguretat
Name[ca@valencia]=Còpies de seguretat
Name[cs]=Zálohy
Name[de]=Sicherungen
Name[en_GB]=Backups
Name[es]=Copias de seguridad
Name[et]=Varukoopiad
Name[nl]=Back-ups
Name[pt]=Cópias de Segurança
Name[sk]=Zálohy
Name[sv]=Säkerhetskopior
Name[uk]=Резервні копії
Name[x-test]=xxBackupsxx
Name[zh_TW]=備份
Comment=Configure backup plans
Comment[ca]=Configura els plans de còpia de seguretat
Comment[ca@valencia]=Configura els plans de còpia de seguretat
Comment[en_GB]=Configure backup plans
Comment[es]=Configurar planificación de copias de seguridad
Comment[et]=Varukoopiakavade seadistamine
Comment[nl]=Back-up-plannen configureren
Comment[pt]=Configurar os planos de cópias de segurança
Comment[sv]=Anpassa säkerhetskopieringsplaner
Comment[uk]=Налаштовування планів резервного копіювання
Comment[x-test]=xxConfigure backup plansxx
Comment[zh_TW]=設定備份計畫
X-KDE-Keywords=backup,recovery,safety
X-KDE-Keywords[ca]=còpia de seguretat,recuperació,seguretat
X-KDE-Keywords[ca@valencia]=còpia de seguretat,recuperació,seguretat
X-KDE-Keywords[en_GB]=backup,recovery,safety
X-KDE-Keywords[es]=copiado, recuperación, seguridad
X-KDE-Keywords[et]=varukoopia,varundamine,taastamine,turvalisus
X-KDE-Keywords[nl]=back-up,herstel,veiligheid
X-KDE-Keywords[pt]=cópia,recuperação,segurança
X-KDE-Keywords[sv]=säkerhetskopia,återställning,säkerhet
X-KDE-Keywords[uk]=backup,recovery,safety,резерв,копіювання,відновлення,безпека
X-KDE-Keywords[x-test]=xxbackupxx,xxrecoveryxx,xxsafetyxx
X-KDE-Keywords[zh_TW]=backup,recovery,safety,備份,復原,安全性
