[Desktop Entry]
Exec=kcmshell5 kcm_kup
Icon=kup
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_kup
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=personalization

Name=Backups
Name[ca]=Còpies de seguretat
Name[nl]=Back-ups
Name[pt]=Cópias de Segurança
Name[uk]=Резервні копії
Name[x-test]=xxBackupsxx
Comment=Configure backup plans
Comment[ca]=Configura els plans de còpia de seguretat
Comment[nl]=Back-up-plannen configureren
Comment[pt]=Configurar os planos de cópias de segurança
Comment[uk]=Налаштовування планів резервного копіювання
Comment[x-test]=xxConfigure backup plansxx
X-KDE-Keywords=backup,recovery,safety
X-KDE-Keywords[ca]=còpia de seguretat,recuperació,seguretat
X-KDE-Keywords[nl]=back-up,herstel,veiligheid
X-KDE-Keywords[pt]=cópia,recuperação,segurança
X-KDE-Keywords[uk]=backup,recovery,safety,резерв,копіювання,відновлення,безпека
X-KDE-Keywords[x-test]=xxbackupxx,xxrecoveryxx,xxsafetyxx
