[Desktop Entry]
Type=Service
Icon=kup

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_kup

X-KDE-PluginInfo-Author=Simon Persson
X-KDE-PluginInfo-Email=simon.persson@mykolab.com
X-KDE-PluginInfo-Name=backups
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://github.com/spersson/kup
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Name=Backups
Name[ca]=Còpies de seguretat
Name[nl]=Back-ups
Name[pt]=Cópias de Segurança
Name[sk]=Zálohy
Name[uk]=Резервні копії
Name[x-test]=xxBackupsxx
Comment=Status of backup plans
Comment[ca]=Estat dels plans per a còpia de seguretat
Comment[nl]=Status van back-up-plannen
Comment[pt]=Estado dos planos de cópias de segurança
Comment[uk]=Стан планів резервного копіювання
Comment[x-test]=xxStatus of backup plansxx
