[Desktop Entry]
Name=Kup
Name[ca]=Kup
Name[ca@valencia]=Kup
Name[cs]=Proces služby Kup
Name[de]=Kup
Name[en_GB]=Kup
Name[es]=Kup
Name[et]=Kup
Name[eu]=Kup
Name[fi]=Kup
Name[fr]=Kup
Name[it]=Kup
Name[ko]=Kup
Name[nl]=Kup
Name[pl]=Kup
Name[pt]=Kup
Name[pt_BR]=Kup
Name[ru]=Kup
Name[sk]=Kup
Name[sl]=Kup
Name[sv]=Kup
Name[uk]=Kup
Name[x-test]=xxKupxx
Name[zh_CN]=K 备份
Name[zh_TW]=Kup
GenericName=Backup Monitor
GenericName[ca]=Supervisor per a còpia de seguretat
GenericName[ca@valencia]=Supervisor per a còpia de seguretat
GenericName[de]=Sicherungs-Überwachung
GenericName[en_GB]=Backup Monitor
GenericName[es]=Monitor de copias de seguridad
GenericName[et]=Varundamise jälgimine
GenericName[eu]=Babes-kopia begiralea
GenericName[fi]=Varmuuskopiovalvonta
GenericName[fr]=Moniteur de sauvegarde
GenericName[it]=Monitor delle copie di sicurezza
GenericName[ko]=백업 모니터
GenericName[nl]=Monitor van back-ups
GenericName[pl]=Monitor kopii zapasowej
GenericName[pt]=Monitor de Cópias de Segurança
GenericName[pt_BR]=Monitor de backup
GenericName[sk]=Monitor záloh
GenericName[sl]=Nadzornik varnostnih kopij
GenericName[sv]=Övervakning av säkerhetskopior
GenericName[uk]=Монітор резервного копіювання
GenericName[x-test]=xxBackup Monitorxx
GenericName[zh_CN]=备份监视器
GenericName[zh_TW]=備份監控工具
Exec=kup-daemon
Icon=kup
Type=Application
Terminal=false
X-KDE-StartupNotify=false
X-DBUS-StartupType=Unique
X-KDE-UniqueApplet=true
X-KDE-autostart-condition=kuprc:Kup settings:Backups enabled:true
OnlyShowIn=KDE;
Categories=Qt;KDE;Utility;X-KDE-Utilities-Desktop;
